src/Zip.EticketSub/Web References/br.com.ddns.validacaosolucoesvip/CHK.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://validacaosolucoesvip.ddns.com.br:8090/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://validacaosolucoesvip.ddns.com.br:8090/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://validacaosolucoesvip.ddns.com.br:8090/">
      <s:element name="StatusCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Micro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatusClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VersaoSat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VersaoSatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersaoSatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataAtual">
        <s:complexType />
      </s:element>
      <s:element name="DataAtualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataAtualResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfo">
        <s:complexType />
      </s:element>
      <s:element name="UserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StatusClienteSoapIn">
    <wsdl:part name="parameters" element="tns:StatusCliente" />
  </wsdl:message>
  <wsdl:message name="StatusClienteSoapOut">
    <wsdl:part name="parameters" element="tns:StatusClienteResponse" />
  </wsdl:message>
  <wsdl:message name="VersaoSatSoapIn">
    <wsdl:part name="parameters" element="tns:VersaoSat" />
  </wsdl:message>
  <wsdl:message name="VersaoSatSoapOut">
    <wsdl:part name="parameters" element="tns:VersaoSatResponse" />
  </wsdl:message>
  <wsdl:message name="DataAtualSoapIn">
    <wsdl:part name="parameters" element="tns:DataAtual" />
  </wsdl:message>
  <wsdl:message name="DataAtualSoapOut">
    <wsdl:part name="parameters" element="tns:DataAtualResponse" />
  </wsdl:message>
  <wsdl:message name="UserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UserInfo" />
  </wsdl:message>
  <wsdl:message name="UserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="CHKSoap">
    <wsdl:operation name="StatusCliente">
      <wsdl:input message="tns:StatusClienteSoapIn" />
      <wsdl:output message="tns:StatusClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VersaoSat">
      <wsdl:input message="tns:VersaoSatSoapIn" />
      <wsdl:output message="tns:VersaoSatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataAtual">
      <wsdl:input message="tns:DataAtualSoapIn" />
      <wsdl:output message="tns:DataAtualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <wsdl:input message="tns:UserInfoSoapIn" />
      <wsdl:output message="tns:UserInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHKSoap" type="tns:CHKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StatusCliente">
      <soap:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/StatusCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersaoSat">
      <soap:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/VersaoSat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataAtual">
      <soap:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/DataAtual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <soap:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/UserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CHKSoap12" type="tns:CHKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StatusCliente">
      <soap12:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/StatusCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersaoSat">
      <soap12:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/VersaoSat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataAtual">
      <soap12:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/DataAtual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <soap12:operation soapAction="http://validacaosolucoesvip.ddns.com.br:8090/UserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHK">
    <wsdl:port name="CHKSoap" binding="tns:CHKSoap">
      <soap:address location="http://validacaosolucoesvip.ddns.com.br:8090/chk/CHK.asmx" />
    </wsdl:port>
    <wsdl:port name="CHKSoap12" binding="tns:CHKSoap12">
      <soap12:address location="http://validacaosolucoesvip.ddns.com.br:8090/chk/CHK.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>